<!DOCTYPE html>
<html>
  <head>
    <title>Малышка =*</title>
  </head>
  <body>
    <h1><img src="http://cs301209.userapi.com/v301209087/73d0/CfxDCdulX30.jpg"> + <img src="http://cs4181.userapi.com/u142847166/140146595/y_109a7cd9.jpg"> = &#x2764;</h1>
    <p>

    </p>
  </body>
</html>
